main{
    margin: 0%;
    padding: 5%;
    background: linear-gradient(to right,  #0070b8, #00a6a6);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    width: 90%;
    height: 50%;
}
.hobi{
    margin-left: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    justify-items: center;
}
.hobi h1 {
    font-size: 50px;
    margin-bottom: 1rem;
    width: 100%;
    color: white;
}
.hobi-item{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 0.5rem;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
    justify-content: center;
}
.hobi-item:hover{
    transform: scale(1.1);
}
.hobi-item img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.hobi-item h3{
  font-size: 1rem;
  margin: 0.5rem 0;
}
footer{
    color: white;
    text-align: center;
    padding: 10px 0;
}
button{
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 450px;
}
button:hover{
    background-color: #555;
    color: white;
}